.calculator {
  width: 564px;
  padding: 32px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 166px;
  right: -298px;
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0 hsla(211, 40%, 69%, 0.25);
}

input {
  font-family: "Inter", sans-serif;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  color: #253347;
  line-height: auto;
  letter-spacing: -5%;
}

.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metric,
.imperial {
  width: 238px;
  height: 31px;
  display: flex;
  align-items: center;
  gap: 36px;
  position: relative;
}

.metric > .label,
.imperial > .label {
  font-weight: 600;
  color: #253347;
  line-height: 150%;
  cursor: pointer;
}

.radio::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #fff;
  outline: 1px solid #d8e2e7;
  border-radius: 100%;
  cursor: pointer;
}

.radio:hover::before {
  outline: 1px solid #345ff6;
}

.radio:checked:before {
  background: #345ff6;
  border: 7.5px solid hsla(0, 0%, 100%, 0.85);
  outline: 1px solid #d8e2e7;
}

.inputs-metric {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.height,
.weight {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.height > .label,
.weight > .label {
  font-size: 14px;
  font-weight: 400;
  color: #5e6e85;
  line-height: 150%;
}

.inputs-imperial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.inputs-imperial > .height,
.inputs-imperial > .weight {
  width: 100%;
}

.inputs-imperial .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result {
  width: 100%;
  padding: 32px;
  background: linear-gradient(to right, #345ff6, #587dff);
  color: #fff;
  display: flex;
  border-radius: 100px 999px 999px 100px;
}

.result > .heading {
  color: #fff;
}

.result > .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.result-empty {
  flex-direction: column;
  gap: 16px;
}

.result-empty > .description {
  width: 100%;
}

.result-bmi {
  justify-content: space-between;
  align-items: center;
}

.result-bmi > .description {
  width: 206px;
}

.result-bmi span {
  font-weight: 600;
}

.bmi {
  width: 206px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  font-weight: 600;
  line-height: 150%;
}

.value {
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -5%;
}

@media screen and (max-width: 1310px) {
  .calculator {
    right: -210px;
  }
}

@media screen and (max-width: 1225px) {
  .calculator {
    right: auto;
    top: 354px;
    left: 50%;
    transform: translateX(-50%);
  }
}
