.group {
  width: 238px;
  height: 69px;
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  padding: 20px 72px 20px 24px;
  font-size: 24px;
  font-weight: 600;
  color: #253347;
  letter-spacing: -5%;
  caret-color: #253347;
  outline: none;
  border: 1px solid #d8e2e7;
  border-radius: 12px;
}

.input:hover,
.input:focus {
  border: 1px solid #345ff6;
  cursor: pointer;
}

.input::placeholder {
  color: #253347;
  opacity: 0.25;
}

.unit {
  font-size: 24px;
  font-weight: 600;
  color: #345ff6;
  letter-spacing: -5%;
  position: absolute;
  top: 20px;
  right: 24px;
}

@media screen and (max-width: 1225px) {
  .group {
    width: 299px;
  }
}

@media screen and (max-width: 730px) {
  .group {
    width: 100%;
  }
}
